@import "tailwindcss";

body {
    min-width: 375px;
    color: #191246;
    background: #FFFBF8;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "SOFT" 100,
        "WONK" 0;
}

nav {
    font-family: "Fraunces", serif;
    font-weight: 600;
    /* Semibold weight */
    font-variation-settings: "SOFT" 100, "WONK" 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fraunces", serif;
    font-weight: 600;
    /* Semibold weight */
    font-variation-settings: "SOFT" 100, "WONK" 0;
}

.fraunces-bold-100 {
    font-family: "Fraunces", serif;
    font-weight: 700;
    /* Bold weight */
    font-variation-settings: "SOFT" 100, "WONK" 0;
    /* Adjusts the Fraunces font variation */
}

.fraunces-bold-italic-120 {
    font-family: "Fraunces", serif;
    font-weight: 700;
    /* Bold weight */
    font-style: italic;
    /* Italic styling */
    font-variation-settings: "SOFT" 120, "WONK" 0;
    /* Adjusts the Fraunces font variation */
}

footer {
    font-family: "Fraunces", sans-serif;
    color: #A55B4B;
}


.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Match your theme */
    color: white;
    z-index: 9999; /* Ensure it appears above all other content */
    display: flex;
    justify-content: center;
    align-items: center; /* Center the logo */
    transition: opacity 0.5s ease, visibility 1s ease; /* Smooth fade-out */
  }
  
  .splash-screen img {
    max-width: 200px;
  }
  
  .splash-screen.fade-out {
    opacity: 0;
    visibility: hidden; /* Ensures the element is no longer interactive */
  }