---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <!-- About Me -->
  <main class="flex-grow p-10">
    <div class="max-w-4xl mx-auto text-center">
      <h1 class="text-4xl font-bold text-purple-800 mb-6">About Me</h1>
      <p class="text-gray-700 leading-relaxed">
        I’m a graphic designer currently based in Detroit, Michigan, but born and raised in Queens, NY. My love for art started back in third grade, when I couldn’t stop doodling in class. That curiosity grew into a passion, and over the years I explored editing, photography, and painting—falling in love with every medium along the way. I found my voice through bold colors, distinct imagery, and impactful imagery in design. 
        
        With a BFA in Graphic Design and a BA in Sociology, I strive to create work that is both visually compelling and socially meaningful. Thoughtful craftsmanship and meticulous attention to detail are at the heart of everything I create. I specialize in editorial, branding, and illustration and aim to make a lasting impact through design. When I’m not working, you’ll probably find me eating something delicious, capturing moments on my Kodak, lifting at the gym, sipping green tea—or, let’s be real—sleeping.  🌟.
      </p>
    </div>
  </main>

</Layout>
