---
title: "About Me"
description: "A brief introduction about me, my background, and my design philosophy."
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import polaroidpic from '../assets/polaroidpic.png';
---

<Layout>
  <!-- About Me -->
  <main class="flex-grow py-5">
    <div class="container text-start">
      <div class="row">
        <div class="col-6 text-start mb-4">
          <h1 class="mb-4">About Me</h1>
          <p class="">
            I’m a graphic designer currently based in Detroit, Michigan, but born and raised in Queens, NY. My love for art started back in third grade, when I couldn’t stop doodling in class. That curiosity grew into a passion, and over the years I explored editing, photography, and painting—falling in love with every medium along the way. I found my voice through bold colors, distinct imagery, and impactful imagery in design. 
          </p>
          <p class="">
            With a BFA in Graphic Design and a BA in Sociology, I strive to create work that is both visually compelling and socially meaningful. Thoughtful craftsmanship and meticulous attention to detail are at the heart of everything I create. I specialize in editorial, branding, and illustration and aim to make a lasting impact through design. When I’m not working, you’ll probably find me eating something delicious, capturing moments on my Kodak, lifting at the gym, sipping green tea—or, let’s be real—sleeping. 🌟.
          </p>
        </div>
        <div class="col-6 text-center d-flex align-items-center">
          <Image src={polaroidpic} alt="Logo" class="mx-auto named-logo"/>
        </div>
      </div>
  </main>

</Layout>

<style>
  .named-logo {
    height: 50vh;
    width: auto;
  }
</style>
