---
title: "Home";
description: "Welcome to my portfolio! I'm a graphic designer passionate about bold colors and meaningful visuals.";
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import polaroidpic from '../assets/polaroidpic.png';
---

<Layout>
  <!-- Home Content -->

  <div class="container">
    <div class="row align-items-center t-sp">
      <div class="col-6 text-start">
        <p class="lead">
          I am Ishrat Ali, <span class="sp-t">a freelance graphic designer </span>currently based in
          Detroit, Michigan. I thrive on bold colors, expressive illustrations,
          and creating meaningful visuals that amplify underrepresented voices.
          Whether it’s storytelling, representation, or making a statement, I
          love pushing boundaries and making a lasting impact with my
          creativity. Welcome to my world of design!
        </p>
      <a href="/ishratalidesign/about" class="btn btn-learnmore mt-4 float-start">Learn more</a></div>
      <div class="col-6 text-center">
        <Image src={polaroidpic} alt="" class="mx-auto"/>
    </div>
  </div>
</Layout>

<style>
  .t-sp {
    margin-top: 13dvh;
    margin-bottom: 12dvh;
  }
  .sp-t {
    color: #C21C7B;
    font-weight: bold;
    font-style: italic;
    font-size: 1.7rem;
  }
  .btn-learnmore {
    background-color: #3E2C77;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
</style>