---
title: "Projects"
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets';
import VLMockup1 from '../assets/vitality/VLMockup1.svg';
import FIMHcovermockup from '../assets/fimh/FIMHcovermockup.svg';
import jahiramockup1 from '../assets/jahira/JahiraMockup1.png';
import threecovers from '../assets/divergent/3covers-min.png';
---

<Layout>
  <main class="flex-grow p-10">
    <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-10">
      <!-- Placeholder thumbnails -->
      <a href={`/ishratalidesign/projects/vitality-living`} class="project-link">
        <div class="relative h-80 overflow-hidden">
          <Image src={VLMockup1} alt="Vitality Living" class="img-fluid w-100 h-100 object-cover transition-transform duration-300 hover:scale-110" />
          <div class="overlay">
            <h3 class="title">Vitality<br>Living</h3>
            <p class="footer">Branding/Layout Design</p>
          </div>
        </div>
      </a>

      <a href={`/ishratalidesign/projects/jahira`} class="project-link">
        <div class="relative h-80 overflow-hidden">
          <Image src={jahiramockup1} alt="Jahira" class="img-fluid w-100 h-100 object-cover transition-transform duration-300 hover:scale-110" />
          <div class="overlay">
            <h3 class="title">Jahira</h3>
            <p class="footer">Branding/Layout Design</p>
          </div>
        </div>
      </a>

      <a href={`/ishratalidesign/projects/divergent`} class="project-link">
        <div class="relative h-80 overflow-hidden">
          <Image src={threecovers} alt="Divergent" class="img-fluid w-100 h-100 object-cover transition-transform duration-300 hover:scale-110" />
          <div class="overlay">
            <h3 class="title">Divergent</h3>
            <p class="footer">Branding/Layout Design</p>
          </div>
        </div>
      </a>

      <a href={`/ishratalidesign/projects/flowers-in-my-heart`} class="project-link">
        <div class="relative h-80 overflow-hidden">
          <Image src={FIMHcovermockup} alt="Flowers in My Heart" class="img-fluid w-100 h-100 object-cover transition-transform duration-300 hover:scale-110" />
          <div class="overlay">
            <h3 class="title">Flowers in<br>My Heart</h3>
            <p class="footer">Branding/Layout Design</p>
          </div>
        </div>
      </a>

    </div>
  </main>
</Layout>

<style>
  .project-link .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c21c7b66; /* Opacity 40% */
    color: #ece8fc; /* Lavender */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    padding: 1rem;
    gap: 2.188rem;
  }

  .project-link:hover .overlay {
    opacity: 1;
  }

  .project-link .title {
    font-size: 1.5rem;
    text-transform: uppercase;
    word-break: break-word;
    margin-top: auto;
  }

  .project-link .footer {
    font-size: 1rem;
    margin-bottom: auto;
  }

  .project-link {
    transition: transform 0.3s ease;
  }

  .project-link:hover {
    transform: translateY(-10px);
  }
</style>