---
title: "Projects"
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets';
import VLMockup1 from '../assets/vitality/VLMockup1.svg';
import FIMHcovermockup from '../assets/fimh/FIMHcovermockup.svg';
import jahiramockup1 from '../assets/jahira/JahiraMockup1.png';
import threecovers from '../assets/divergent/3covers-min.png';
---

<Layout>
  <main class="flex-grow p-10">
    <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-10">
      <!-- Placeholder thumbnails -->
      <a href={`/ishratalidesign/projects/vitality-living`}>
        <div class="bg-gray-300 h-80">
          <Image src={VLMockup1} alt="Logo" class="img-fluid w-100 h-100 object-fit-cover" />
        </div>
      </a>

      <a href={`/ishratalidesign/projects/flowers-in-my-heart`}>
        <div class="bg-gray-300 h-80">
          <Image src={FIMHcovermockup} alt="Logo" class="img-fluid w-100 h-100 object-fit-cover" />
        </div>
      </a>

      <a href={`/ishratalidesign/projects/jahira`}>
        <div class="bg-gray-300 h-80">
          <Image src={jahiramockup1} alt="Logo" class="img-fluid w-100 h-100 object-fit-cover" />
        </div>
      </a>

      <a href={`/ishratalidesign/projects/divergent`}>
        <div class="bg-gray-300 h-80">
          <Image src={threecovers} alt="Logo" class="img-fluid w-100 h-100 object-fit-cover" />
        </div>
      </a>

    </div>
  </main>
</Layout>
