---
title: "Footer"
import { Image } from 'astro:assets';
import namedlogo from '../assets/namelogo.svg';
import email from '../assets/email.png';
import linkedin from '../assets/linkedin.png';
---

<footer class="text-center py-4 mt-5">
  <div class="container">
    
    <div class="row gap-3">
      <!-- Named Logo -->
      <div class="col-12">
        <Image src={namedlogo} alt="Logo" class="mx-auto"/>
      </div>
      <!-- Email and LinkedIn Logos -->
      <div class="col-12 d-flex justify-content-center align-items-center gap-4">
        <a href="mailto:ishratalidesign@gmail.com">
          <Image src={email} alt="Email Icon" style="max-width: 2rem; height: auto;" />
        </a>
        <a href="https://www.linkedin.com/in/ishrat-ali-/" target="_blank">
          <Image src={linkedin} alt="LinkedIn Icon" style="max-width: 2rem; height: auto;" />
        </a>
      </div>
      <!-- Footer Text -->
      <div class="col-12">
        <p class="text-center mb-0 copyright">
          &copy; {new Date().getFullYear()} Ishrat Ali
        </p>
      </div>
    </div>
  </div>
</footer>


<style>
.named-logo {
    max-width: 40vh;
    height: auto;
    margin-bottom: -8rem;
    margin-top: -8rem;
}
.copyright {
    font-size: 1rem;
    color: #A55B4B;
}
</style>