---
title: "Footer"
import { Image } from 'astro:assets';
import namedlogo from '../assets/namelogo.png';
import email from '../assets/email.png';
import linkedin from '../assets/linkedin.png';
---

<footer class="text-center py-4">
  <div class="container">
    <!-- Named Logo -->
    <div class="row">
      <div class="col-12">
        <Image src={namedlogo} alt="Logo" class="mx-auto named-logo"/>
      </div>
    </div>

    <!-- Email and LinkedIn Logos -->
    <div class="row mt-3">
      <div class="col-12 d-flex justify-content-center gap-4">
        <a href="mailto:ishratalidesign@gmail.com">
          <Image src={email} alt="Email Icon" style="max-width: 3vw; height: auto;" />
        </a>
        <a href="https://linkedin.com" target="_blank">
          <Image src={linkedin} alt="LinkedIn Icon" style="max-width: 3vw; height: auto; padding-top: 3px;" />
        </a>
      </div>
    </div>

    <!-- Footer Text -->
    <div class="row mt-4">
      <div class="col-12">
        <p class="text-center mb-0 copyright">
          &copy; {new Date().getFullYear()} Ishrat Ali
        </p>
      </div>
    </div>
  </div>
</footer>


<style>
.named-logo {
    max-width: 40vh;
    height: auto;
    margin-bottom: -8rem;
    margin-top: -8rem;
}
.copyright {
    font-size: 1rem;
    color: #3E2C77;
}
</style>