---
import logo from '../../public/logo.svg';
import { Image } from 'astro:assets';

const { includeBorder = true } = Astro.props;
---

<header class="py-3">
  <div class={`container d-flex justify-content-between align-items-center px-0 ${includeBorder ? 'nav-with-border' : ''}`}>
    <div class="text-primary">
      <a href="/ishratalidesign/" class="text-decoration-none d-flex align-items-start">
        <Image src={logo} alt="Logo" class="img-fluid pe-5" style="height: 40px;" />
      </a>
    </div>
    <nav class="d-flex gap-3">
      <a href="/ishratalidesign/projects" class="h-color text-decoration-none">projects</a>
      <a href="/ishratalidesign/sidenotes" class="h-color text-decoration-none">side notes</a>
      <a href="/ishratalidesign/about" class="h-color text-decoration-none">about</a>
      <a href="/ishratalidesign/contact" class="h-color text-decoration-none">contact</a>
    </nav>
  </div>
</header>

<style>
  header {
    background-color: #ECE8FC;
  }
  .h-color {
    color: #3E2C77
  }
  a:hover {
    color: #A55B4B;
  }

.container.nav-with-border {
  position: relative; /* Required for positioning the ::after element */
}

.container.nav-with-border::after {
  content: ""; /* Creates the pseudo-element */
  position: absolute;
  bottom: -0.938rem; /* Adjust the distance below the nav */
  left: 0;
  right: 0;
  height: 2px; /* Thickness of the border */
  background-color: #3E2C77; /* Color of the border */
}
</style>