---
import logo from '../../public/logo.svg';
import { Image } from 'astro:assets';
---

<header class="bg-[#f5f2f7] p-6">
    <div class="max-w-6xl mx-auto flex justify-between items-center">
      <div class="text-2xl font-bold text-purple-800"><a href="/">
        <Image src={logo} alt="A bird sitting on a nest of eggs." />
      </a></div>
      <nav class="space-x-8 text-sm font-medium text-purple-800">
        <a href="projects.html" class="hover:underline">projects</a>
        <a href="sidenotes.html" class="hover:underline">side notes</a>
        <a href="about.html" class="hover:underline">about</a>
        <a href="contact.html" class="hover:underline">contact</a>
      </nav>
    </div>
</header>