---
import logo from '../../public/logo.svg';
import { Image } from 'astro:assets';

---

<header class="py-3">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="text-primary fw-bold fs-4">
      <a href="/ishratalidesign/" class="text-decoration-none">
        <Image src={logo} alt="Logo" class="img-fluid" style="height: 40px;" />
      </a>
    </div>
    <nav class="d-flex gap-3">
      <a href="/ishratalidesign/projects" class="h-color text-decoration-none">projects</a>
      <a href="/ishratalidesign/sidenotes" class="h-color text-decoration-none">side notes</a>
      <a href="/ishratalidesign/about" class="h-color text-decoration-none">about</a>
      <a href="/ishratalidesign/contact" class="h-color text-decoration-none">contact</a>
    </nav>
  </div>
  <div class="header-border position-relative start-50 translate-middle-x"></div>
</header>

<style>
  header {
    background-color: #ECE8FC;
  }
  .header-border {
  width: 73%; /* Covers 80% of the width */
  height: 2px; /* Thickness of the border */
  background-color: #3E2C77; /* Color of the border */
  border-radius: 0 0 10px 10px; /* Rounded corners at the ends */
  bottom: -16px;
  }
  .h-color {
    color: #3E2C77
  }

  .text-decoration-none:hover {
    text-decoration: underline;
  }
</style>