---
import logo from '../assets/ialogo.png';
import { Image } from 'astro:assets';

const { includeBorder = true } = Astro.props;
---

<header class="py-3">
  <div class={`container d-flex justify-content-between align-items-center px-0 ${includeBorder ? 'nav-with-border' : ''}`}>
    <div class="text-primary">
      <a href="/ishratalidesign/" class="text-decoration-none d-flex align-items-start">
        <Image src={logo} alt="Logo" class="img-fluid pe-5 logo" />
      </a>
    </div>
    <nav class="d-flex gap-3">
      <a href="/ishratalidesign/projects" class="h-color text-decoration-none">projects</a>
      <a href="/ishratalidesign/sidenotes" class="h-color text-decoration-none">side notes</a>
      <a href="/ishratalidesign/about" class="h-color text-decoration-none">about</a>
      <a href="/ishratalidesign/contact" class="h-color text-decoration-none">contact</a>
    </nav>
  </div>
</header>

<style>
  .logo {
    height: 4.375rem;
    width: auto;
  }
  header {
    background-color: #fffbf8;
  }
  .h-color {
    color: #3E2C77
  }
  a:hover {
    color: #A55B4B;
  }

</style>